@import "animations/header"

.color-selector
  width: 60%
  margin: 0 auto
  display: flex
  justify-content: space-evenly
  align-items: center
  padding-top: 15px
  
  .option
    width: 40px
    height: 40px
    border-radius: 50%
    border: 1px solid #ccc
    transition: all 300ms ease
    cursor: pointer

    &:hover
      border-color: #000
    @for $i from 0 through 3
      &.opt-#{$i}
        background-color: var(#{--colorOption}#{$i}, #ccc)

.ab-header
  width: 100%
  height: 50vh
  background-color: var(#{--background}, $medium-tourquise)
  text-align: center
  font-size: 2em
  color: $mint-cream
  padding: 0
  overflow: hidden
  @include transition(all 1s ease)

  &.fullscreen
    height: 100vh
    padding-top: 25vh
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB)
    background-size: 400% 400%
    -webkit-animation: Gradient 15s ease infinite
    -moz-animation: Gradient 15s ease infinite
    animation: Gradient 15s ease infinite

    a, span
      color: rgba(255,255,255, .7)

  span
    display: block
    margin-top: 20px
    @include enter-at(6)

    &.exit
      @include animation(component-exit 1s ease forwards)

  .userPhoto
    width: 150px
    height: 150px
    margin-top: 60px
    border-radius: 50%
    @include enter-at(7)

    &.exit
      @include animation(component-exit 1s ease forwards)

  .description
    margin-top: 10px
    @include enter-at(5)

    &.exit
      @include animation(component-exit 1s ease forwards)

    a
      padding: 10px
      &:hover i
        text-shadow: 0 0 20px #fff
      i
        @include transition(all 300ms ease)

.slowPc
  display: block
  text-align: center
  color: #000

.easter-egg
  height: 100vh
  width: 100%
  position: absolute
  top: 0
  @include animation(none)

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)
  .ab-header
    .userPhoto
      width: 100px
      height: 100px
