<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
  {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}
  
  {{ $highlight := resources.Get "ts/highlight.ts" | babel | js.Build }}
  {{ $bundle := slice $highlight | resources.Concat "highlight.js" | resources.Minify }}
  {{ $shortcodes := resources.Get "ts/shortcodes/index.ts" | babel | js.Build }}
  {{ $shortcodesBundle := slice $shortcodes | resources.Concat "shortcodes.js" | resources.Minify }}

  <script type="text/javascript" src="{{ $shortcodesBundle.RelPermalink }}"></script>
  <script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>
</head>
<body>
{{ $container := cond ($.Site.Params.FullWidthTheme | default false) "container full" (cond ($.Site.Params.CenterTheme | default false) "container center" "container") }}

<div class="{{- $container -}}{{- cond ($.Site.Params.oneHeadingSize | default false) " headings--one-size" "" }}">

  {{ partial "header.html" . }}

  <div class="content">
    {{ block "main" . }}
    {{ end }}
  </div>

  {{ block "footer" . }}
    {{ partial "footer.html" . }}
  {{ end }}
</div>

</body>
</html>