body {
    margin: 0;
    font-family: Montserrat, sans-serif;
}
body::scrollbar {
    display: none;
}
.wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F0DB4E;
    overflow: hidden;
}
.scroller {
    position: absolute;
    width: 100%;
}
.resize {
    position: relative;
    font-family: verdana;
    transition: font-size 0.7s;
    text-align: center;
    padding: 30px;
}
.cover {
    background-color: #F0DB4E;
}
.introduce {
    background-color: #11A773;
}
.contact {
    background-color: #00ABB6;
    color: #fff;
}
.headerImage {
    height: 13em;
}
.subHeaderImage {
    height: 12em;
}
.bottom {
    position: absolute;
    left: 50%;
    margin-left: -3.5em;
    bottom: 0;
}
.down {
    height: 4em;
    cursor: pointer;
}
.me {
    width: 9em;
    height: 9em;
    margin: 0 auto;
    border-radius: 50%;
    background: #000 url(../img/me.jpg) no-repeat center center;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.bold {
    font-weight: 700;
}
.contact-icons {
    width: 10em;
}
footer {
    transition: font-size .7s;
    text-align: center;
    background-color: #F0DB4E;
}
footer>a {
    color: #000;
    text-decoration: none;
}
footer>a:hover {
    text-decoration: underline;
}

@media handheld,only screen and (max-width : 40em){
	.headerImage {
		padding-top:10em;
	    height: 26em;
	}
	.subHeaderImage {
	    height: 24em;
	}
	.me {
    	width: 18em;
    	height: 18em;
	}
	p{
		font-size: 3em;
	}
	.contact-icons {
	   margin-top:2em;
	}
	.contact {
	    height: auto !important;
	}
	footer {
		font-size: 1em !important;
		padding: 5px;
	}
	h1{
		font-size: 3em;
	}
	.down {
		display: none;
	}
}