<ul class="menu menu--desktop menu--language-selector">
  {{ $lang := or .Params.contentLanguage "en" }} {{ range
  $.Site.Home.AllTranslations }} {{ $isContentLanguage := eq $lang
  .Language.LanguageCode }} {{ if $isContentLanguage }}
  <li class="menu__trigger">{{ .Language.LanguageName }}&nbsp;▾</li>
  {{end}}

  <!-- <li><a href="{{ .Permalink }}">{{ .Language.LanguageCode }}</a></li> -->
  {{ end }} {{ if .Params.versions }}

  <li>
    <ul class="menu__dropdown">
      {{ range .Params.versions }}
      <li><a href="{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
  </li>
  {{ else }}
  <li>
    <ul class="menu__dropdown">
      {{ range $.Site.Home.AllTranslations }}
      <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
      {{ end }}
    </ul>
  </li>
  {{ end }}
</ul>
