a {
  color: #BEE9E8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

@-webkit-keyframes loader-out {
  from {
    -webkit-transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(40px);
    opacity: 0; } }
@-moz-keyframes loader-out {
  from {
    -moz-transform: translateY(0);
    opacity: 1; }
  to {
    -moz-transform: translateY(40px);
    opacity: 0; } }
@keyframes loader-out {
  from {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0; } }
@-webkit-keyframes component-entrance {
  from {
    opacity: 0;
    -webkit-transform: translateY(-40px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px); } }
@-moz-keyframes component-entrance {
  from {
    opacity: 0;
    -moz-transform: translateY(-40px); }
  to {
    opacity: 1;
    -moz-transform: translateY(0px); } }
@keyframes component-entrance {
  from {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-webkit-keyframes component-exit {
  from {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  to {
    opacity: 0;
    -webkit-transform: translateY(40px); } }
@-moz-keyframes component-exit {
  from {
    opacity: 1;
    -moz-transform: translateY(0px); }
  to {
    opacity: 0;
    -moz-transform: translateY(40px); } }
@keyframes component-exit {
  from {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  to {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); } }
@-webkit-keyframes entrance {
  from {
    height: 0; } }
@-moz-keyframes entrance {
  from {
    height: 0; } }
@keyframes entrance {
  from {
    height: 0; } }
.loader {
  color: #BEE9E8;
  text-align: center;
  font-size: 2.5em;
  margin: 0 auto;
  margin-top: 45vh;
  width: 100%;
  position: absolute;
  top: 0; }
  .loader.ready {
    -webkit-animation: loader-out 1s ease forwards;
    -moz-animation: loader-out 1s ease forwards;
    animation: loader-out 1s ease forwards; }

.ab-entrance {
  opacity: 0;
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-animation: component-entrance 1s ease forwards;
  -moz-animation: component-entrance 1s ease forwards;
  animation: component-entrance 1s ease forwards; }

.animation-at-1 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.animation-at-2 {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s; }

.animation-at-3 {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s; }

.animation-at-4 {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s; }

.animation-at-5 {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s; }

.animation-at-6 {
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  animation-delay: 2.4s; }

.animation-at-7 {
  -webkit-animation-delay: 2.8s;
  -moz-animation-delay: 2.8s;
  animation-delay: 2.8s; }

.animation-at-8 {
  -webkit-animation-delay: 3.2s;
  -moz-animation-delay: 3.2s;
  animation-delay: 3.2s; }

.animation-at-9 {
  -webkit-animation-delay: 3.6s;
  -moz-animation-delay: 3.6s;
  animation-delay: 3.6s; }

.animation-at-10 {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s; }

.animation-at-11 {
  -webkit-animation-delay: 4.4s;
  -moz-animation-delay: 4.4s;
  animation-delay: 4.4s; }

.animation-at-12 {
  -webkit-animation-delay: 4.8s;
  -moz-animation-delay: 4.8s;
  animation-delay: 4.8s; }

.animation-at-13 {
  -webkit-animation-delay: 5.2s;
  -moz-animation-delay: 5.2s;
  animation-delay: 5.2s; }

.animation-at-14 {
  -webkit-animation-delay: 5.6s;
  -moz-animation-delay: 5.6s;
  animation-delay: 5.6s; }

.animation-at-15 {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s; }

.animation-at-16 {
  -webkit-animation-delay: 6.4s;
  -moz-animation-delay: 6.4s;
  animation-delay: 6.4s; }

.animation-at-17 {
  -webkit-animation-delay: 6.8s;
  -moz-animation-delay: 6.8s;
  animation-delay: 6.8s; }

.animation-at-18 {
  -webkit-animation-delay: 7.2s;
  -moz-animation-delay: 7.2s;
  animation-delay: 7.2s; }

.animation-at-19 {
  -webkit-animation-delay: 7.6s;
  -moz-animation-delay: 7.6s;
  animation-delay: 7.6s; }

.animation-at-20 {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s; }

.animation-at-21 {
  -webkit-animation-delay: 8.4s;
  -moz-animation-delay: 8.4s;
  animation-delay: 8.4s; }

.animation-at-22 {
  -webkit-animation-delay: 8.8s;
  -moz-animation-delay: 8.8s;
  animation-delay: 8.8s; }

.animation-at-23 {
  -webkit-animation-delay: 9.2s;
  -moz-animation-delay: 9.2s;
  animation-delay: 9.2s; }

.animation-at-24 {
  -webkit-animation-delay: 9.6s;
  -moz-animation-delay: 9.6s;
  animation-delay: 9.6s; }

.animation-at-25 {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  animation-delay: 10s; }

.animation-at-26 {
  -webkit-animation-delay: 10.4s;
  -moz-animation-delay: 10.4s;
  animation-delay: 10.4s; }

.animation-at-27 {
  -webkit-animation-delay: 10.8s;
  -moz-animation-delay: 10.8s;
  animation-delay: 10.8s; }

.animation-at-28 {
  -webkit-animation-delay: 11.2s;
  -moz-animation-delay: 11.2s;
  animation-delay: 11.2s; }

.animation-at-29 {
  -webkit-animation-delay: 11.6s;
  -moz-animation-delay: 11.6s;
  animation-delay: 11.6s; }

.animation-at-30 {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  animation-delay: 12s; }

.animation-at-31 {
  -webkit-animation-delay: 12.4s;
  -moz-animation-delay: 12.4s;
  animation-delay: 12.4s; }

.animation-at-32 {
  -webkit-animation-delay: 12.8s;
  -moz-animation-delay: 12.8s;
  animation-delay: 12.8s; }

.animation-at-33 {
  -webkit-animation-delay: 13.2s;
  -moz-animation-delay: 13.2s;
  animation-delay: 13.2s; }

.animation-at-34 {
  -webkit-animation-delay: 13.6s;
  -moz-animation-delay: 13.6s;
  animation-delay: 13.6s; }

.animation-at-35 {
  -webkit-animation-delay: 14s;
  -moz-animation-delay: 14s;
  animation-delay: 14s; }

.animation-at-36 {
  -webkit-animation-delay: 14.4s;
  -moz-animation-delay: 14.4s;
  animation-delay: 14.4s; }

.animation-at-37 {
  -webkit-animation-delay: 14.8s;
  -moz-animation-delay: 14.8s;
  animation-delay: 14.8s; }

.animation-at-38 {
  -webkit-animation-delay: 15.2s;
  -moz-animation-delay: 15.2s;
  animation-delay: 15.2s; }

.animation-at-39 {
  -webkit-animation-delay: 15.6s;
  -moz-animation-delay: 15.6s;
  animation-delay: 15.6s; }

.animation-at-40 {
  -webkit-animation-delay: 16s;
  -moz-animation-delay: 16s;
  animation-delay: 16s; }

.animation-at-41 {
  -webkit-animation-delay: 16.4s;
  -moz-animation-delay: 16.4s;
  animation-delay: 16.4s; }

.animation-at-42 {
  -webkit-animation-delay: 16.8s;
  -moz-animation-delay: 16.8s;
  animation-delay: 16.8s; }

.animation-at-43 {
  -webkit-animation-delay: 17.2s;
  -moz-animation-delay: 17.2s;
  animation-delay: 17.2s; }

.animation-at-44 {
  -webkit-animation-delay: 17.6s;
  -moz-animation-delay: 17.6s;
  animation-delay: 17.6s; }

.animation-at-45 {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  animation-delay: 18s; }

.animation-at-46 {
  -webkit-animation-delay: 18.4s;
  -moz-animation-delay: 18.4s;
  animation-delay: 18.4s; }

.animation-at-47 {
  -webkit-animation-delay: 18.8s;
  -moz-animation-delay: 18.8s;
  animation-delay: 18.8s; }

.animation-at-48 {
  -webkit-animation-delay: 19.2s;
  -moz-animation-delay: 19.2s;
  animation-delay: 19.2s; }

.animation-at-49 {
  -webkit-animation-delay: 19.6s;
  -moz-animation-delay: 19.6s;
  animation-delay: 19.6s; }

.animation-at-50 {
  -webkit-animation-delay: 20s;
  -moz-animation-delay: 20s;
  animation-delay: 20s; }

.animation-at-51 {
  -webkit-animation-delay: 20.4s;
  -moz-animation-delay: 20.4s;
  animation-delay: 20.4s; }

.animation-at-52 {
  -webkit-animation-delay: 20.8s;
  -moz-animation-delay: 20.8s;
  animation-delay: 20.8s; }

.animation-at-53 {
  -webkit-animation-delay: 21.2s;
  -moz-animation-delay: 21.2s;
  animation-delay: 21.2s; }

.animation-at-54 {
  -webkit-animation-delay: 21.6s;
  -moz-animation-delay: 21.6s;
  animation-delay: 21.6s; }

.animation-at-55 {
  -webkit-animation-delay: 22s;
  -moz-animation-delay: 22s;
  animation-delay: 22s; }

.animation-at-56 {
  -webkit-animation-delay: 22.4s;
  -moz-animation-delay: 22.4s;
  animation-delay: 22.4s; }

.animation-at-57 {
  -webkit-animation-delay: 22.8s;
  -moz-animation-delay: 22.8s;
  animation-delay: 22.8s; }

.animation-at-58 {
  -webkit-animation-delay: 23.2s;
  -moz-animation-delay: 23.2s;
  animation-delay: 23.2s; }

.animation-at-59 {
  -webkit-animation-delay: 23.6s;
  -moz-animation-delay: 23.6s;
  animation-delay: 23.6s; }

.animation-at-60 {
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  animation-delay: 24s; }

.animation-at-61 {
  -webkit-animation-delay: 24.4s;
  -moz-animation-delay: 24.4s;
  animation-delay: 24.4s; }

.animation-at-62 {
  -webkit-animation-delay: 24.8s;
  -moz-animation-delay: 24.8s;
  animation-delay: 24.8s; }

.animation-at-63 {
  -webkit-animation-delay: 25.2s;
  -moz-animation-delay: 25.2s;
  animation-delay: 25.2s; }

.animation-at-64 {
  -webkit-animation-delay: 25.6s;
  -moz-animation-delay: 25.6s;
  animation-delay: 25.6s; }

.animation-at-65 {
  -webkit-animation-delay: 26s;
  -moz-animation-delay: 26s;
  animation-delay: 26s; }

.animation-at-66 {
  -webkit-animation-delay: 26.4s;
  -moz-animation-delay: 26.4s;
  animation-delay: 26.4s; }

.animation-at-67 {
  -webkit-animation-delay: 26.8s;
  -moz-animation-delay: 26.8s;
  animation-delay: 26.8s; }

.animation-at-68 {
  -webkit-animation-delay: 27.2s;
  -moz-animation-delay: 27.2s;
  animation-delay: 27.2s; }

.animation-at-69 {
  -webkit-animation-delay: 27.6s;
  -moz-animation-delay: 27.6s;
  animation-delay: 27.6s; }

.animation-at-70 {
  -webkit-animation-delay: 28s;
  -moz-animation-delay: 28s;
  animation-delay: 28s; }

.animation-at-71 {
  -webkit-animation-delay: 28.4s;
  -moz-animation-delay: 28.4s;
  animation-delay: 28.4s; }

.animation-at-72 {
  -webkit-animation-delay: 28.8s;
  -moz-animation-delay: 28.8s;
  animation-delay: 28.8s; }

.animation-at-73 {
  -webkit-animation-delay: 29.2s;
  -moz-animation-delay: 29.2s;
  animation-delay: 29.2s; }

.animation-at-74 {
  -webkit-animation-delay: 29.6s;
  -moz-animation-delay: 29.6s;
  animation-delay: 29.6s; }

.animation-at-75 {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  animation-delay: 30s; }

.animation-at-76 {
  -webkit-animation-delay: 30.4s;
  -moz-animation-delay: 30.4s;
  animation-delay: 30.4s; }

.animation-at-77 {
  -webkit-animation-delay: 30.8s;
  -moz-animation-delay: 30.8s;
  animation-delay: 30.8s; }

.animation-at-78 {
  -webkit-animation-delay: 31.2s;
  -moz-animation-delay: 31.2s;
  animation-delay: 31.2s; }

.animation-at-79 {
  -webkit-animation-delay: 31.6s;
  -moz-animation-delay: 31.6s;
  animation-delay: 31.6s; }

.animation-at-80 {
  -webkit-animation-delay: 32s;
  -moz-animation-delay: 32s;
  animation-delay: 32s; }

.animation-at-81 {
  -webkit-animation-delay: 32.4s;
  -moz-animation-delay: 32.4s;
  animation-delay: 32.4s; }

.animation-at-82 {
  -webkit-animation-delay: 32.8s;
  -moz-animation-delay: 32.8s;
  animation-delay: 32.8s; }

.animation-at-83 {
  -webkit-animation-delay: 33.2s;
  -moz-animation-delay: 33.2s;
  animation-delay: 33.2s; }

.animation-at-84 {
  -webkit-animation-delay: 33.6s;
  -moz-animation-delay: 33.6s;
  animation-delay: 33.6s; }

.animation-at-85 {
  -webkit-animation-delay: 34s;
  -moz-animation-delay: 34s;
  animation-delay: 34s; }

.animation-at-86 {
  -webkit-animation-delay: 34.4s;
  -moz-animation-delay: 34.4s;
  animation-delay: 34.4s; }

.animation-at-87 {
  -webkit-animation-delay: 34.8s;
  -moz-animation-delay: 34.8s;
  animation-delay: 34.8s; }

.animation-at-88 {
  -webkit-animation-delay: 35.2s;
  -moz-animation-delay: 35.2s;
  animation-delay: 35.2s; }

.animation-at-89 {
  -webkit-animation-delay: 35.6s;
  -moz-animation-delay: 35.6s;
  animation-delay: 35.6s; }

.animation-at-90 {
  -webkit-animation-delay: 36s;
  -moz-animation-delay: 36s;
  animation-delay: 36s; }

.animation-at-91 {
  -webkit-animation-delay: 36.4s;
  -moz-animation-delay: 36.4s;
  animation-delay: 36.4s; }

.animation-at-92 {
  -webkit-animation-delay: 36.8s;
  -moz-animation-delay: 36.8s;
  animation-delay: 36.8s; }

.animation-at-93 {
  -webkit-animation-delay: 37.2s;
  -moz-animation-delay: 37.2s;
  animation-delay: 37.2s; }

.animation-at-94 {
  -webkit-animation-delay: 37.6s;
  -moz-animation-delay: 37.6s;
  animation-delay: 37.6s; }

.animation-at-95 {
  -webkit-animation-delay: 38s;
  -moz-animation-delay: 38s;
  animation-delay: 38s; }

.animation-at-96 {
  -webkit-animation-delay: 38.4s;
  -moz-animation-delay: 38.4s;
  animation-delay: 38.4s; }

.animation-at-97 {
  -webkit-animation-delay: 38.8s;
  -moz-animation-delay: 38.8s;
  animation-delay: 38.8s; }

.animation-at-98 {
  -webkit-animation-delay: 39.2s;
  -moz-animation-delay: 39.2s;
  animation-delay: 39.2s; }

.animation-at-99 {
  -webkit-animation-delay: 39.6s;
  -moz-animation-delay: 39.6s;
  animation-delay: 39.6s; }

.animation-at-100 {
  -webkit-animation-delay: 40s;
  -moz-animation-delay: 40s;
  animation-delay: 40s; }

.ab-input {
  position: relative;
  max-width: 400px;
  margin: 0 auto; }
  .ab-input .ab-input-receiver {
    background-color: transparent;
    border: none;
    width: 70%;
    padding: 5px 0;
    font-size: 0.53em;
    color: #BEE9E8; }
    .ab-input .ab-input-receiver::-webkit-input-placeholder {
      color: #BEE9E8;
      opacity: 0.7; }
    .ab-input .ab-input-receiver::-moz-placeholder {
      color: #BEE9E8;
      opacity: 0.7; }
    .ab-input .ab-input-receiver:-moz-placeholder {
      color: #BEE9E8;
      opacity: 0.7; }
    .ab-input .ab-input-receiver:-ms-input-placeholder {
      color: #BEE9E8;
      opacity: 0.7; }
    .ab-input .ab-input-receiver:focus {
      outline: 0; }
  .ab-input::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    background-color: #BEE9E8; }
  .ab-input.active::before {
    width: 70%; }

.ab-button {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 1.5px solid #BEE9E8;
  font-size: 0.45em;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .ab-button:hover {
    background-color: rgba(255, 255, 255, 0.2); }

@-webkit-keyframes gooey {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-20px); } }
@-moz-keyframes gooey {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-20px); } }
@keyframes gooey {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-20px); } }
@-webkit-keyframes go-easter {
  to {
    height: 500px;
    background-color: #263238; } }
@-moz-keyframes go-easter {
  to {
    height: 500px;
    background-color: #263238; } }
@keyframes go-easter {
  to {
    height: 500px;
    background-color: #263238; } }
.gooey {
  -webkit-filter: url("#goo");
  filter: url("#goo");
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden; }
  .gooey.ready {
    -webkit-animation: entrance-gooey 2s ease forwards;
    -moz-animation: entrance-gooey 2s ease forwards;
    animation: entrance-gooey 2s ease forwards; }
  .gooey .goo-column {
    background-color: #DB5461;
    width: 40px;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    position: relative;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }
    .gooey .goo-column.animate {
      -webkit-animation: gooey 2s ease alternate infinite;
      -moz-animation: gooey 2s ease alternate infinite;
      animation: gooey 2s ease alternate infinite; }
    .gooey .goo-column.easter-egg {
      -webkit-animation: go-easter 1s ease forwards;
      -moz-animation: go-easter 1s ease forwards;
      animation: go-easter 1s ease forwards; }
    .gooey .goo-column.round-left {
      border-bottom-left-radius: 20px; }
    .gooey .goo-column.round-right {
      border-bottom-right-radius: 20px; }

.easter-text {
  opacity: 0; }
  .easter-text.easter-egg {
    opacity: 1;
    -webkit-animation: entrance 4s ease forwards;
    -moz-animation: entrance 4s ease forwards;
    animation: entrance 4s ease forwards; }

@-webkit-keyframes entrance-header {
  to {
    transform: translateY(0);
    padding: 20px 0; } }
@-moz-keyframes entrance-header {
  to {
    transform: translateY(0);
    padding: 20px 0; } }
@keyframes entrance-header {
  to {
    transform: translateY(0);
    padding: 20px 0; } }
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.ab-header {
  width: 100%;
  height: 50vh;
  background-color: #DB5461;
  text-align: center;
  font-size: 2em;
  color: #BEE9E8;
  padding: 0;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }
  .ab-header.fullscreen {
    height: 100vh;
    padding-top: 25vh;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite; }
    .ab-header.fullscreen a, .ab-header.fullscreen span {
      color: rgba(255, 255, 255, 0.7); }
  .ab-header.easter-egg {
    background-color: #263238;
    height: 100vh;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none; }
  .ab-header span {
    display: block;
    margin-top: 20px;
    -webkit-animation-delay: 2.4s;
    -moz-animation-delay: 2.4s;
    animation-delay: 2.4s; }
    .ab-header span.exit {
      -webkit-animation: component-exit 1s ease forwards;
      -moz-animation: component-exit 1s ease forwards;
      animation: component-exit 1s ease forwards; }
  .ab-header .userPhoto {
    width: 150px;
    height: 150px;
    margin-top: 60px;
    border-radius: 50%;
    -webkit-animation-delay: 2.8s;
    -moz-animation-delay: 2.8s;
    animation-delay: 2.8s; }
    .ab-header .userPhoto.exit {
      -webkit-animation: component-exit 1s ease forwards;
      -moz-animation: component-exit 1s ease forwards;
      animation: component-exit 1s ease forwards; }
  .ab-header .description {
    margin-top: 10px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s; }
    .ab-header .description.exit {
      -webkit-animation: component-exit 1s ease forwards;
      -moz-animation: component-exit 1s ease forwards;
      animation: component-exit 1s ease forwards; }
    .ab-header .description a {
      padding: 10px; }
      .ab-header .description a:hover i {
        text-shadow: 0 0 20px #fff; }
      .ab-header .description a i {
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        transition: all 300ms ease; }

.slowPc {
  display: block;
  text-align: center;
  color: #000; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .ab-header .userPhoto {
    width: 100px;
    height: 100px; } }
* {
  font-family: "Quicksand", sans-serif; }

body {
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
  overflow: hidden; }

/*# sourceMappingURL=app.css.map */
